body {
    margin: 0;
    border: 0;
    background-color: #dee2db;
}
label {
    display: block;
    margin-top: 8px;
}
span {
    font-size: 25px;
}
.form {
    display: flex;
}
.bx1 {
    width: 40%;
    height: 50%;
    margin-left: 20px;
}
.bx2 {
    width: 40%;
    height: 50%;
    margin-left: 30px;
}
.big {
    width: 60%;
    height: 420px;
    background-color: blue;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.title {
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: center;
}
.box {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: brown;
}
.principal {
    text-align: center;
}
.inputs {
    width: 150px;
    height: 15px;
    border-radius: 5px;
    padding: 7px;
    margin-top: 7px;
}
.btn-cadastrar {
    width: 100px;
    height: 30px;
    margin-top: 15px;
}